<%= form_with model: [:admins, @sector, @site] do |f| %>
  <div id="error_messages">
    <%= render "admins/shared/form_errors_messages" %>
  </div>

  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title,  class: "form-control" %>
  <div >

  <div class="form-group">
    <%= f.label :opening_time %>
    <%= f.date_field :opening_time,  class: "form-control" %>
  <div >

  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_field :description,  class: "form-control" %>
  <div >

  <div class="form-group">
    <%= f.label :phone_number %>
    <%= f.text_field :phone_number,  class: "form-control" %>
  <div >

  <div class="form-group">
    <%= f.label :website %>
    <%= f.text_field :website,  class: "form-control" %>
  <div >

  <div class="form-group">
    <%= f.label :category %>
    <%= f.rich_text_area :category, class: "form-control" %>
  </div>

  <div  class="form-group">
    <%= f.label :picture %>
    <%= f.file_field :picture, label: 'Ville', class: "form-control"  %>
  </div>

  <div class="form-group">
    <%= f.label :illustration%>
    <%= f.file_field :illustration %>
  </div>

   <%= f.button :submit, class: "button btn btn-primary" %>

 <% end %>
