<%= form_with model: [:admins, @sector, @site], local: true do |f| %>
  <div id="error_messages">
    <%= render "admins/shared/form_errors_messages", errors: @site.errors %>
  </div>

  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title,  class: "form-control" %>
  <div >

  <div class="form-group">
    <%= f.label :opening_time %>
    <%= f.time_field :opening_time,  class: "form-control" %>
  <div >

  <div class="form-group">
    <%= f.label :description %>
    <%= f.rich_text_area :description,  class: "form-control" %>
  <div >

  <div class="form-group">
    <%= f.label :phone_number %>
    <%= f.text_field :phone_number,  class: "form-control" %>
  <div >

  <div class="form-group">
    <%= f.label :website %>
    <%= f.text_field :website,  class: "form-control" %>
  <div >

    <div class="col-auto my-1">
      <%= f.label :category, class: "mr-sm-2 sr-only", for: "inlineFormCustomSelect" %>
      <%= f.select :category, f.object.class.categories.collect { |k, _| [t("activerecord.attributes.site.category_name.#{k}"), k] }, class: "custom-select mr-sm-2", id: "inlineFormCustomSelect" %>
    </div>

  <%= f.fields_for :addresses do |address_field| %>

    <div class="form-row">
        <div class="col-7">
          <%= address_field.text_field :street, placeholder: "Rue", class: "form-control" %>
        </div>
        <div class="col">
          <%= address_field.text_field :city, placeholder: "Ville", class: "form-control" %>
        </div>
        <div class="col">
          <%= address_field.text_field :postal_code, placeholder: "Code postal", class: "form-control" %>
        </div>
      </div>

    <div class="form-group">

    <div >
    <div class="form-group">
      <%= address_field.label :postal_code %>
      <%= address_field.text_field :postal_code,  class: "form-control" %>
    <div >
    <div class="form-group">
      <%= address_field.label :city %>
      <%= address_field.text_field :city,  class: "form-control" %>
    <div >

    <div class="form-group">
      <%= address_field.hidden_field :sector_id, value: @sector.id %>
    <div >
  <% end %>

  <div  class="form-group">
    <%= f.label :picture %>
    <%= f.file_field :picture  %>
  </div>

   <%= f.button "Enregistrer",  class: "button btn btn-primary" %>

 <% end %>
