<%
=begin%>
var error_messages = `<%= j render "admins/shared/form_errors_messages", errors: @site.errors %>`;

function refreshErrorMessages() {
  var element = document.getElementById('error_messages')
  element.innerHTML = "";
}

function addErrorMessages(html) {
  document.querySelector(".button").blur();
  var element = document.getElementById('error_messages')
  element.innerHTML = ""
  element.insertAdjacentHTML('beforeend', html);
}

function addSite() {
  var new_site =
    `<li>
      <div><%= @site.title %></div>
      <div><%= @site.opening_time %></div>
      <div><%= @site.description %></div>
      <div><%= @site.phone_number %></div>
      <div><%= @site.website %></div>
      <div><%= @site.category %></div>
      <div><%= image_tag(@site.picture, class: "image") %></div>
    </li>`;
  document.getElementById('sites').insertAdjacentHTML('beforeend', new_site)
  document.querySelector(".button").blur();
}

function refreshForm() {
  document.querySelectorAll(".site_attributes").innerText = ""
}

<% if @sector.errors.any? %>
  addErrorMessages(error_messages);
<% else %>
  refreshErrorMessages();
  addSite();
  refreshForm();
<% end %>
<%
=end%>
