<h1>Informations sur l'addresse</h1>

<div><%= link_to "retour", admins_sector_path(@sector) %> </div>

<div><%= image_tag(@site.picture, class: "image") %></div>

<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">@site.title</h5>
    <h6 class="card-subtitle mb-2 text-muted">Horraire d'ouverture: <%= @site.opening_time %></h6>
    <h6 class="card-subtitle mb-2 text-muted">Numéro de téléphone: <%= @site.phone_number %></h6>
    <h6 class="card-subtitle mb-2 text-muted">Site internet: <%= @site.website %></h6>
    <h6 class="card-subtitle mb-2 text-muted">Category: <%= @site.category %></h6>
    <p class="card-text"><%= @site.description %></p>
    <%= link_to "Editer", edit_admins_sector_site_path(@sector, @site), class: "card-link" %>
    <%= link_to "Supprimer", admins_sector_site_path(@sector, @site), method: :delete, class: "card-link" %>
  </div>
</div>
