    <div id="error_messages">
      <%= render "admins/shared/form_errors_messages", errors: @sector.errors %>
    </div>

    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, data: { target: "sectors.name" },  class: "form-control",  id: "name" %>
    <div >

    <div class="form-group">
      <%= f.label :description %>
      <%= f.rich_text_area :description, placeholder: '400 caractères max', data: { target: "sectors.description" }, id: "description", class: "form-control" %>
    </div>

    <div  class="form-group">
      <%= f.label :city%>
      <%= f.text_field :city, label: 'Ville', data: { target: "sectors.city" }, class: "form-control", id: "city" %>
    </div>

    <div class="form-group">
      <%= f.label :illustration%>
      <%= f.file_field :illustration, id: "illustration", data: { target: "sectors.illustration" }%>
    </div>

     <%= f.button :submit, class: "button btn btn-primary", data: { action: "click->sectors#onSubmitSectorForm"} %>
