<%= search_form_for [:admins, @q], html: { class: "form-inline "} do |f| %>
 <!-- Search if the name field contains... -->
  <div>
    <%= f.label :name_cont %>
    <%= f.search_field :name_cont, class: "form-control" %>
  </div>
  <div>
    <%= f.label :city_cont %>
    <%= f.search_field :city_cont, class: "form-control" %>
  </div>

  <div>
    <%= f.submit "Rechercher", class: "btn btn-primary search-form-button" %>
  </div>

<% end %>
