<div class="card mb-3">
  <div class="card-body">
    <h3 class="card-title">Bienvenue dans vos espace d'administration</h3>
    <p class="card-text">Depuis votre interface vous pouvez ajouter des quartiers ainsi que les bonnes addresses associées</p>
    <p class="card-text"><small class="text-muted">Dernière mise à jour: <%= Time.zone.now - 5.minutes %> </small></p>
  </div>
</div>

<p><%= link_to "Lister toutes les adresses", admins_sites_path %> </p>

<br><br>

<div class="search-form">
  <h4>Liste des différents quartiers</h4>
  <br>
  <%= render 'search_form' %>
</div>

<br><br>

<div  >
  <ul id="sectors" data-url="<%= sort_admins_sectors_path %>" class="card-list">
    <% @sectors.each do |sector| %>
      <%= render "sector", sector: sector %>
    <% end %>
  </ul>
</div>

<br><br>

<h4>Ajouter un quartier</h4>

<div>
  <div id="sector">
    <%= form_with model: [:admins, @sector], data: { controller: "sectors" }  do |f| %>
      <%= render 'form_attributes', f:f %>
    <% end %>
    <br><br>
  </div>
</div>
