<h1>Quartier <%= @sector.name %></h1>
<p></p>
<h2><%= @sector.city %></h2>
<p><%= image_tag(@sector.illustration, class: "sector_image") %></p>

<%= render "admins/sites/form" %>

<ul>
  <% @sites.each do |site| %>
    <li><%= site.title %></li>
    <li><%= site.opening_time %></li>
    <li><%= site.descritpion %></li>
    <li><%= site.phone_number %></li>
    <li><%= site.website %></li>
    <li><%= site.category %></li>
    <li><%= site.picture %></li>
  <% end %>
</ul>








