<%= form_with model: [:admins, @sector] do |f| %>
  <div >
    <div >
      <%= f.text_field :name, label: 'Nom du quartier', error: 'Champ Obligatoire' %>
    <div >
      <%= f.rich_text_area :description, placeholder: '400 caractères max', error: 'Champ obligatoire' %>
    </div>
    <div>
      <%= f.text_field :city, label: 'Ville', error: 'Champ obligatoire' %>
    </div>
    <div >
      <%= f.file_field :illustration, label: 'Illustration', hint: 'insérer une belle image du quartier', error: 'Champ obligatoire' %>
    </div>
      <%= f.button :submit %>
  </div>
<% end %>
