<h1>Bienvenue dans vos espace</h1>

<h2>Ajouter un quartier</h2>

<%= form_with model: [:admins, @sector] do |f| %>
  <div >
    <div >
      <%= f.text_field :name, label: 'Nom du quartier', error: 'Champ Obligatoire' %>
    <div >
      <%= f.rich_text_area :description, placeholder: '400 caractères max', error: 'Champ obligatoire' %>
    </div>
    <div>
      <%= f.text_field :city, label: 'Ville', error: 'Champ obligatoire' %>
    </div>
    <div >
      <%= f.file_field :illustration, label: 'Illustration', hint: 'insérer une belle image du quartier', error: 'Champ obligatoire' %>
    </div>
      <%= f.button :submit %>
  </div>
<% end %>

<table id="table" class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Position</th>
      <th scope="col">Nom</th>
      <th scope="col">Description</th>
      <th scope="col">Ville</th>
    </tr>
  </thead>

  <tbody id="sectors">
    <% @sectors.each do |sector| %>
        <tr data-link="#">
          <td><%= sector.position %></td>
          <td><%= sector.name %></td>
          <td><%= sector.description %></td>
          <td><%= sector.city %></td>
        </tr>
    <% end %>
  </tbody>
</table>
