<h1>Bienvenue dans vos espace</h1>

<h2>Ajouter un quartier</h2>

<%= render 'form' %>

<table id="sector_list" class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Position</th>
      <th scope="col">Nom</th>
      <th scope="col">Description</th>
      <th scope="col">Ville</th>
    </tr>
  </thead>

  <tbody id="sectors">
    <% @sectors.each do |sector| %>
        <tr data-link="#">
          <td><%= sector.position %></td>
          <td><%= sector.name %></td>
          <td><%= sector.description %></td>
          <td><%= sector.city %></td>
        </tr>
    <% end %>
  </tbody>
</table>
